# Project
.git
.github/
.*ignore
tests/
Makefile
README.md
LICENSE
.python-version

# Cache
__pycache__/
.mypy_cache
.ruff_cache
*.py[cod]

# Environment
.env*
venv/

# Docker
docker-compose*.yml
Dockerfile